* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
}

.form-container {
  width: 60%;
}

main {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.fill {
  height: 100% !important;
}
